# Android
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
!molly.apk
!molly_v1.apk
*.ap_
*.dex
*.class
bin/
gen/
out/

# Gradle
.gradle/
build/

# Local configuration
local.properties

# Log Files
*.log

# Android Studio
*.iml
.idea/
.navigation/
captures/
output.json

# NDK
obj/
